/* #form-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 50px);
  
} */

#inputBox {
  /* margin: 24px auto !important;
  width: 90% !important;
  font-size: 12px !important; */
  grid-column: 2/6;
  grid-row: 1/2;
  /* position: relative; */
  z-index: 1;
  padding-left: 25px;
  width: 575px;
  margin: 0 auto;
}
#checkBox {
  position: absolute !important;
  /* top: 157px;
  left: 820px; */
}
/* #circle-icon {
  grid-column: 1/2;
  grid-row: 1/2;
  position: absolute;
  z-index: 100;
  left: 68px;
  top: 87px;
  color: lightgrey;
  /* margin: 10px auto; */

#check-logo-icon {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 100%;
  position: absolute;
  z-index: 101;
  left: 70px;
  top: 90px;
}
